.navbar {
    height: 50px;
    width: auto;
    background-color: black;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

.navButton {
    background-color: #bb2323;
    color: #ffffff;
    font-size: 15px;
    border-color: #000000;
    border-radius: 5px;
    height: 40px;
    width: 100px;
    margin-right: 3px;
    margin-left: 3px;
}

.navButton:hover {
        background-color: blue;

}

body {
    margin: 0;
    padding: 0;
    background-image: url('restaurantblack2.jpg');
    background-size: cover;
    font-family: 'Shadows Into Light', cursive;
    background-attachment: fixed;
}

.pizzas {
    margin-left: 225px;
    padding: 80px 40px;
    box-sizing: border-box;
    background: rgba(0,0,0,0.5);
}

.pizzaLabel {
    color: peachpuff;
}

main h1 {
    margin-left: 75px;
    color: white;
}

td {
    padding-bottom: 60px;
    color: white;
}

header h1 {
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 70px;
}

header h2, footer {
    text-align: center;
}
